body{
    font-family: 'Barlow Semi Condensed', sans-serif;
	background-image: url('../whatthefun/images/bg.jpg');   
    color:white;
}
.rules{
    display:flex;
    padding:10px;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;  
    /* border: 1px solid white; */
}
h2{
    font-family: 'Abril Fatface', cursive;
    color:rgb(35, 161, 35);
}
.rules div {
	/* border: 3px solid white; */
	padding: 10px;
	height: 450px;
	flex: 1;
	text-align: center;
    /* margin: 0px auto;
	width: 75%;
	font-size: 20px; */
}
#howtoplay {
	margin: 0px auto;
	width: 75%;
	font-size: 20px;
}
.spcolor {
	text-decoration: underline;
}

#howtoplay h2 {
	font-weight: 600;
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
		background: url('../images/logo-medium.png') no-repeat;
		width: 300px;
		height: 243px;
	}
	#last-logo {
		background: url('../images/lastlogo-med.png') no-repeat;
		width: 200px;
		height: 200px;
	}
	#blackjack-result, #player {
		font-size: 27px;
	}
	.flex-blackjack-row1 div {
		height: 410px;
		padding: 5px;
	}
	.flex-blackjack-row2 div {
		border: 1px solid black;
		padding: 5px;
	}
	#blackjack-hit-button, #blackjack-stand-button, #blackjack-deal-button {
		font-size: 17px;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
	  
	.ca {
		font-size: 1.3em;
	}
	#howtoplay p, ul {
		font-size: 0.9em;
	}
}

@media (max-width: 767px) {
	 
	.ca {
		font-size: 1.2em;
	}
	#howtoplay p, ul {
		font-size: 0.8em;
	}
}

@media (max-width: 280px) {
	#blackjack-hit-button, #blackjack-stand-button, #blackjack-deal-button {
		font-size: 11px;
	}
}

